extends ../../../layout/_layout

block vars
  - var htmlroot = "../../../"
  - var imgfolder = htmlroot+"img/illust/webcomic/summoner/"

block prepend meta

block title
  title= "召喚士（仮）　登場人物紹介"

block append breadcrumb
  li: a(href ="#{htmlroot}illust.html") イラスト
  li.active 召喚士（仮）　登場人物紹介

block sidenav_contents
  +submenuitem([
              "登場人物紹介"])


block maincontents
  h2#submenu0 召喚士（仮）
    small  登場人物紹介



  div まだ考え中なので、後で追加したり、変更があるかもしれません。

  table.table.table-striped
    tr
        td
          img(src='#{imgfolder}image_syu.jpg', alt='')
          img(src='#{imgfolder}minichara_syu.png', alt='')
        td
          h4 フェレナ　ユウェル
          dl.dl-horizontal
            dt 髪型：
            dd ロングサイドポニー
            dt 髪の色：
            dd オレンジ
            dt 目の色：
            dd 水色
            dt 服装：
            dd ウェイトレス
            dt 職業：
            dd 召喚士
            dt 種族：
            dd 天使
            dt 武器：
            dd 　
            dt 年齢：
            dd 外見１６歳
            dt 性格：
            dd ドジっ子。でも頑張り屋さん。
            dt その他：
            dd 　
      tr
        td
          img(src='#{imgfolder}minichara_syokan.png', width='64', height='64', alt='')
        td
          h4
          dl.dl-horizontal
            dt 髪型：
            dd ツインドリル
            dt 髪の色：
            dd 赤色
            dt 目の色：
            dd 白
            dt 服装：
            dd 毛？
            dt 職業：
            dd 召喚獣
            dt 種族：
            dd 猫の獣人
            dt 武器：
            dd 素手？爪？
            dt 年齢：
            dd 　
            dt 性格：
            dd
              | ツンデレ。というか強いというか。。。
              br
              | でも根はいい人
            dt その他：
            dd 　
      tr
        td
          img(src='#{imgfolder}image_mahokenshi.jpg', alt='')
          img(src='#{imgfolder}minichara_mahokenshi.png', alt='')
        td
          h4 アルエスト
          dl.dl-horizontal
            dt 髪型：
            dd ロングストレート
            dt 髪の色：
            dd 碧
            dt 目の色：
            dd 青
            dt 服装：
            dd 鎧？
            dt 職業：
            dd 魔法剣士
            dt 種族：
            dd 人間
            dt 武器：
            dd 弓
            dt 年齢：
            dd 20代？
            dt 性格：
            dd 姉御肌。しかし張り切りすぎて突っ走るときも
            dt その他：
            dd 　
      tr
        td
          img(src='#{imgfolder}image_sister.jpg', alt='')
          img(src='#{imgfolder}minichara_sister.png', alt='')
        td
          h4 チェスティ
          dl.dl-horizontal
            dt 髪型：
            dd 　
            dt 髪の色：
            dd 深い青(タンザナイト)
            dt 目の色：
            dd 深い紫(アメジスト)
            dt 服装：
            dd シスター
            dt 職業：
            dd 一応聖職者？回復魔法も使えたりする
            dt 種族：
            dd 不明
            dt 武器：
            dd 杖型ハンマー
            dt 年齢：
            dd 外見１０才かそれ以下
            dt 性格：
            dd 毒舌腹黒。笑顔でハンマーを振り回す
            dt その他：
            dd １２月生まれ？
