li
	a(href="#{htmlroot}index.html") TOP
li
	a(href="#{htmlroot}about.html") about
li
	a(href="#{htmlroot}illust.html") イラスト
li
	a(href="http://sorajumjun.blog.shinobi.jp/") ブログ
li
	a(href="#{htmlroot}history.html") 更新履歴
li
	a(href="#{htmlroot}link.html") リンク