mixin submenuitem(contents)
  - var x = 0
  each val in contents
    li: a(href="#submenu#{x}") #{val}
    - x++

mixin top_carousel_indicators(num)
  - for (var x = 0; x < num; x++)
    if x=0
      li(data-target="#myCarousel" data-slide-to="#{x}").active
    else
      li(data-target="#myCarousel" data-slide-to="#{x}")


mixin top_carousel_tems(contents)
  - var x = 0
  each val in contents
    if x=0
      div.item.active
        img(src='#{val}')
    else
      div.item
        img(src='#{val}')
    - x++


mixin illust_galleries(contents,g_id, imgfolder)
  - if (typeof imgfolder === "undefined")
    - imgfolder = ""
  ul.gallery.clearfix
    each val in contents
      li
        a.fancybox(href="#{htmlroot}img/illust/#{imgfolder}#{val.a_file}", rel="fancybox", title="#{val.comment}")
          img(src="#{htmlroot}img/illust/#{imgfolder}#{val.a_file}", width="60", height="60", alt="#{val.img_alt}" )


mixin link_mybanners(num)
  - for (var x = num; x >0; x--)
    img(src="link/jumblejunk#{x}.gif", width="200", height="40", alt="JumbleJunk_バナ―#{x}")

mixin link_collections(contents)
  each val in contents
    a(href="#{val.a_href}", title="#{val.title}")
      if val.img_src==""
        | #{val.title}
      else
        img(src="#{val.img_src}", width="#{val.img_width}", height="#{val.img_height}", alt="#{val.title}" )

mixin history_list(year, contents, num)
  h3(id="submenu#{num}") #{year}
  div
    ul.list
      each val in contents
        li #{val.history_day}  #{val.history_contents}
