extends layout\_layout

block prepend meta

block title
  title= "About　自己紹介"

block append breadcrumb
  li.active About

block sidenav_contents
  +submenuitem([
              "名前",
              "性質",
              "好きな漫画・小説",
              "好きなゲーム",
              "好きな音楽"])

block maincontents
  h2 Abount
    small  自己紹介


  h3#submenu0 名前
  div !{myname}

  h3#submenu1 性質
  div !{myPersonality}

  h3#submenu2 好きな漫画・小説
  div.row
    div.col-md-6 !{mycomic}

    div.col-md-6.panel.panel-default
      div.panel-heading その他所有コミック一覧
      div.panel-body
        include fragment\_about_comics


  h3#submenu3 好きなゲーム
  div.row
    div.col-md-6 !{mygame}

    div.col-md-6.panel.panel-default
      div.panel-heading その他所有ゲーム一覧
      div.panel-body
        include fragment\_about_games


  h3#submenu4 好きな音楽
  div !{mymusic}


