a(href="http://tegaki.pipa.jp/209068/", target="_blank", title="手書きブログ")
  img(src="#{htmlroot}img/note_10.gif", alt="手書きブログ")
a(href="http://clap.fc2.com/post/sora9/?url=http%3A%2F%2Fsora9.web.fc2.com%2Fmenu.html&title=JumbleJunk", title="拍手を送る")
  img(src="#{htmlroot}img/clapping_29.gif", alt="web拍手", width="44", height="12")
a(href="http://sorajumjun.blog.shinobi.jp/Category/18/", title="web拍手レス")
  img(src="#{htmlroot}img/clap005_r010.gif", width="23", height="10", alt="")
a(href="http://www.pixiv.net/member.php?id=445148", target="_blank", title="pixiv")
  img(src="#{htmlroot}img/pixivID.png", alt="pixiv", width="80", height="15")
a(href="http://twitter.com/soral9", target="_blank", title="twitter")
    //span.fa-stack.fa-2x
      i.fa.fa-circle.fa-stack-2x.bg-btn-social
      i.fa.fa-twitter.fa-stack-1x.text-twitter
  img(src="#{htmlroot}img/icon_05_twitter_b1.gif", width="17", height="11", alt="twitter@soral9")